<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.torbinsky">

    <uses-permission android:name="android.permission.READ_CONTACTS" />    

    <application android:name="MoodTracker"
            >
			<!--
			android:label="@string/activity_sample_code"
            android:icon="@drawable/app_sample_code"
			-->

        <!-- This is how we can request a library but still allow the app
             to be installed if it doesn't exist. -->
        <uses-library android:name="com.torbinsky.will.never.exist" android:required="false" />

        <activity android:name="MoodTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	</application>
</manifest>
